---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 not Found">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white text-3xl text-center mb-2">Esta página no existe...</h1>
        <img src="../../public/images/this-is-fine-fire.gif" alt="" />
    </div>
</Layout>
