---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
    <h>About the project</h>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quidem
        tenetur debitis aliquid repellendus consequatur velit, dolorem quia
        voluptatum impedit tempore.
    </p>
</Layout>
